# See variable.tf for more information
allowed_account_ids = []
aws_region          = ""
aws_profile         = ""
name                = ""
cidr                = ""
azs                 = []
public_subnets      = []
private_subnets     = []
instance_type       = ""
ami                 = ""
